[submodule "themes/hipaper"]
	path = themes/hipaper
	url = https://github.com/hexistore/hexo-theme-hipaper.git
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/hexistore/maupassant-hexo.git
